asgiref==3.12.1
Django==6.1
django-ckeditor-5>=0.2.20
django-cors-headers==4.9.0
django-storages==1.14.6
django-unfold==0.104.1
cohere==7.0.8
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.0
psycopg2-binary==2.9.12
python-dotenv==1.1.1
PyJWT==2.9.0
sqlparse==0.5.5

# Production (Render)
boto3==1.43.78
gunicorn==26.1.0
whitenoise==6.12.0
